body{
    width: 100%;
}

.logo:hover{
    background-color:greenyellow;
    cursor: pointer;
}

.logo>span{
    color:orange ;
    text-shadow: 3px 3px #FF0000;
}
ul>li{
    margin-right: 20px;
}

li:hover{
    background-color: green;
    border-radius: 50%;
}

/* landing page stylings */
.landing-page{
    background-image:linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.7)), url('../images/background/-kids-eating-pizza-png-409_306.png');
    background-repeat: no-repeat;
    background-size: cover;
    height: 90vh;
    width: 100%;
    background-position: center;
    text-align: center;
    opacity: 0.8;
    top: 0em;
}
.landing-page >h1{
    padding-top: 110px;
    font-weight: bold; 
    text-shadow: 3px 3px #FF0000;   
}
.landing-page{
    color: white;
    font-size: 20px;
}


/* colorchange */
.colorchange{
    animation: colorchangePIZZAHUB 1s infinite;
}

@keyframes  colorchangePIZZAHUB{
    0% {color:red;}
    25% {color:blue;}
    50% {color:white}
    75% {color:green;}
    100% {color:orage;}
}

.landing-page >#btn{
    margin-top: 90px;
}

/* about stylings */
.about{
    padding: 15px 30px;
    justify-content: center;
    line-height: 2rem;
}


.abt-img{
    background-image: url('../images/background/People-Eating-Pizza.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 50vh;
}
.abt-img >#pro{    
    color:rgb(253, 251, 251);
    text-align: center;
    font-size: 25px;
    padding-top: 140px;    
}